In [1]:
import pandas as pd
import numpy as np

In [4]:
# Reading CSV file
df = pd.read_csv("SPY.csv")
df.head()

         Date     Open     High      Low    Close  Adj Close   Volume
0  1993-01-29  43.9687  43.9687  43.7500  43.9375  27.357281  1003200
1  1993-02-01  43.9687  44.2500  43.9687  44.2500  27.551851   480500
2  1993-02-02  44.2187  44.3750  44.1250  44.3437  27.610189   201300
3  1993-02-03  44.4062  44.8437  44.3750  44.8125  27.902090   529400
4  1993-02-04  44.9687  45.0937  44.4687  45.0000  28.018848   531500

In [ ]:
# Find daily return
df["Daily return"] = df["Adj Close"].diff()/df["Adj Close"].shift(1)
df.head()

In [ ]:
# Find out index for "EOM3"=1 
df["Date"] = pd.to_datetime(df["Date"])
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day
group = df.groupby(["Year", "Month"])
EOM_index = group["Day"].idxmax()-2
EOM_index = EOM_index[1:].to_frame()
EOM_index = EOM_index.reset_index(drop=True)

In [ ]:
# Create "EOM3" column in df
df["EOM3"] = 0
# Overwrite "EOM3" base on index
for value in df.index.values:
    for index in EOM_index["Day"]:
        if value == index:
            df["EOM3"][value] = 1
df = df.drop(columns=["Year", "Month","Day"])
df

In [ ]:
# Daily return over all days
avg_return_overall = df["Daily return"].mean()
avg_return_overall

In [ ]:
# Daily return over "EOM"=1
group = df.groupby("EOM3")
avg_return_EOM3 = group["Daily return"].mean()
avg_return_EOM3